body {
    font-family: 'Crimson Pro', serif;

}

alert-container {}

callout-container {
    height: 100vh;


    background: url("../images/whiskey-image.jpg") no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

feauters-container {}
